server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;

    server_name __DOMAIN__;

    include /config/nginx/ssl.conf;

    client_max_body_size 10m;

    location = /api {
        return 404;
    }

    location = /admin {
        return 404;
    }

    location = /db {
        return 404;
    }

    location ^~ /api/ {
        return 404;
    }

    location ^~ /uploads/ {
        return 404;
    }

    location ^~ /admin/ {
        return 404;
    }

    location ^~ /db/ {
        return 404;
    }

    location / {
        proxy_pass http://pkpkdupr-web:80;
        include /config/nginx/proxy.conf;
    }
}

server {
    listen 3333 ssl;
    listen [::]:3333 ssl;

    server_name __DOMAIN__;

    include /config/nginx/ssl.conf;

    client_max_body_size 10m;

    location = /admin {
        return 301 /admin/;
    }

    location = /db {
        return 301 /db/;
    }

    location /admin/ {
        proxy_pass http://pkpkdupr-admin-web:80;
        include /config/nginx/proxy.conf;
    }

    location / {
        return 404;
    }

    location /db/ {
        rewrite ^/db/(.*)$ /$1 break;
        proxy_pass http://pkpkdupr-adminer:8080;
        include /config/nginx/proxy.conf;
    }

    location /api/ {
        proxy_pass http://pkpkdupr-api:4000;
        include /config/nginx/proxy.conf;
    }

    location /uploads/ {
        proxy_pass http://pkpkdupr-api:4000;
        include /config/nginx/proxy.conf;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;

    server_name __PKELO_DOMAIN__;

    include /config/nginx/pkelo-ssl.conf;

    client_max_body_size 10m;

    location = /api {
        return 404;
    }

    location = /admin {
        return 404;
    }

    location = /db {
        return 404;
    }

    location ^~ /api/ {
        return 404;
    }

    location ^~ /uploads/ {
        return 404;
    }

    location ^~ /admin/ {
        return 404;
    }

    location ^~ /db/ {
        return 404;
    }

    location ^~ /auth/kakao/ {
        proxy_pass http://pkelo-api:4000;
        include /config/nginx/proxy.conf;
    }

    location / {
        proxy_pass http://pkelo-web:80;
        include /config/nginx/proxy.conf;
    }
}

server {
    listen 3333 ssl;
    listen [::]:3333 ssl;

    server_name __PKELO_DOMAIN__;

    include /config/nginx/pkelo-ssl.conf;

    client_max_body_size 10m;

    location = /admin {
        return 301 /admin/;
    }

    location = /db {
        return 301 /db/;
    }

    location /admin/ {
        proxy_pass http://pkelo-admin-web:80;
        include /config/nginx/proxy.conf;
    }

    location / {
        return 404;
    }

    location /db/ {
        rewrite ^/db/(.*)$ /$1 break;
        proxy_pass http://pkelo-adminer:8080;
        include /config/nginx/proxy.conf;
    }

    location /api/ {
        proxy_pass http://pkelo-api:4000;
        include /config/nginx/proxy.conf;
    }

    location /uploads/ {
        proxy_pass http://pkelo-api:4000;
        include /config/nginx/proxy.conf;
    }
}
