server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;

    server_name __PKELO_ADMIN_DOMAIN__;

    include /config/nginx/pkelo-ssl.conf;

    client_max_body_size 10m;

    location = /api {
        return 404;
    }

    location = /db {
        return 301 /db/;
    }

    location ^~ /api/ {
        proxy_pass http://pkelo-api:4000;
        include /config/nginx/proxy.conf;
    }

    location ^~ /uploads/ {
        proxy_pass http://pkelo-api:4000;
        include /config/nginx/proxy.conf;
    }

    location /db/ {
        rewrite ^/db/(.*)$ /$1 break;
        proxy_pass http://pkelo-adminer:8080;
        include /config/nginx/proxy.conf;
    }

    location / {
        proxy_pass http://pkelo-admin-web:80;
        include /config/nginx/proxy.conf;
    }
}
